<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/personal']">個人檔案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/education']">學歷</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/work']">經歷</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/skill']">技能專長</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/autobiography']">自傳</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>

<router-outlet></router-outlet>
